body {
  background-color: #607274;
}
div {
  background-color: #faeed1;
}

.feature {
  background-color: #ded0b6;
}
.feature-icon {
  background-color: #ded0b6;
}

.footer {
  background-color: #ded0b6;
}
